modules = ["unity"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "DreamCraft Game"

[[workflows.workflow]]
name = "DreamCraft Game"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "unity-run -p 5000"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "unity-run -p 5000"]
